@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'NotoSerifKR';
    color: #3A3A3A;
}
body{
    background-color: #FEFEFE;
}
#header {
    background-color: #E1ECC8;
    font-size: 80%;
    position: fixed;
    text-align: center;
    align-items: center;
    height: 49px;
    left: 0;
    right: 0;
    top: 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
.nav-rightitem{
    width: 30%;
    margin: auto 0;
}
#menu-icon{
    margin-left: 2%;
    height: 49px;
    opacity: 85%;
}
#nav-item1{
    margin-right: 2%;
    text-decoration: none; 
    color: #3A3A3A;
}
#nav-item2{
    margin-left: 2%;
    margin-right: 2%;
    text-decoration: none; 
    color: #3A3A3A;
}
#nav-item3{
    margin-left: 2%;
    text-decoration: none; 
    color: #3A3A3A;
}



#img-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.img-item1{
    display: grid;
    place-items: center;
}
.img-item2{
    display: grid;
    place-items: center;
}
.img-item3{
    display: grid;
    place-items: center;
}
.img-title{
    font-size: 100%;
}
#library-img{
    width: 60%;
    border-radius: 3%;
}
#coworking-img{
    width: 60%;
    border-radius: 3%;
}
#cafe-img{
    width: 60%;
    border-radius: 3%;
}
.reservation-btn{
    width: 30%;
    height: 40px;
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 30px;
    border: solid 1px #A0C49D;
    background-color: white;
}
.reservation-text{
    text-decoration: none;
    
}
.chevron-icon{
    float: right;
}




#suggestion-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 80px;
}
#message-icon{
    width: 50%;
    height: 50%;
    margin-top: 10%;
    padding-left: 15%;
}
#suggestion-text-box{
     padding-right: 30%;
    display: grid;
    place-items: center;
    grid-template-rows: 200px 100px 400px;
}
#suggestion-p-title{
    align-self: flex-end;
    font-size: 280%;
    font-family: 'SBAggroB';
}
#suggestion-p-title2{
    align-self: flex-start;
    font-size: 100%;
    font-family: 'SBAggroB';
}
.suggestion-btn{
    align-self: flex-start;
    width: 30%;
    height: 40px;
    border-radius: 30px;
    border: solid 1px #A0C49D;
    background-color: white;
}
.suggestion-text{
    text-decoration: none;

}